form {
	margin-top: 30px;
}

form select {
	height: 45px;
	font-size: 20px;
	color: #999999;
	width: 416px;
}

form input {
	height: 45px !important;
	font-size: 20px !important;
	width: 400px;
	margin-top: 12px;
}

.input-prepend input {
	width: 186px;
	margin-right: 12px;
}

#cc-exp {
	width: 186px;
}

.no-decor {
	text-decoration: none !important;
}

#hide-password {
	color: #e2757f;
}

input.invalid {
	border-color: #e2757f;
	border-width: 2px;
}

.inform {
	color: #6574c3;
}

#submit-purchase {
	margin-top: 10px;
	width: 175px;
	font-size: 30px;
	line-height: 30px;
	margin-left: 100px;
}