form {
	margin-top: 30px;
}

#browser-not-supported {
	width: 364px !important;
	text-align: center;
}

form select {
	height: 45px;
	font-size: 20px;
	color: #999999;
	width: 416px;
}

label[for="email"] {
	display: none;
}

form input {
	height: 45px !important;
	font-size: 20px !important;
	width: 400px;
	margin-top: 12px;
}

.input-prepend input {
	width: 186px;
	margin-right: 12px;
}

.no-decor {
	text-decoration: none !important;
}

#hide-password, .warn {
	color: #e2757f;
}

input.invalid {
	border-color: #e2757f;
	border-width: 2px;
}

input:focus.invalid {
	border-color: #e2757f;
}

.inform {
	margin-bottom: 5px;
	color: #6574c3;
}

#submit-purchase {
	margin-top: 30px;
	width: 175px;
	line-height: 20px;
	margin-left: 120px;
}