.hide {
  display: none;
}

.brand {
  height: 44px;
}

.navbar-form {
  margin-top: 8px;
}

.navbar-fixed-bottom {
  margin-bottom: 20px;
}

.tag {
  color: #6574C3;
  font-family: inherit;
  text-rendering: optimizelegibility;
  line-height: 70px;
  font-size: 68.5px;
  margin-top: 30px;
}

.sub-tag {
  color: #74c365;
  font-family: inherit;
  text-rendering: optimizelegibility;
  line-height: 25px;
  font-size: 23.5px;
  margin-top: 10px;
}

.buy {
  margin-top: 70px;
  line-height: 25px;
  font-size: 23.5px;
}

.link {
  color: #0088cc !important;
  text-decoration: none !important;
}

i {
  color: #74c365;
}

.q {
  color: #6574C3 !important;
}

.qa {
  display: inline-block;
  width: 1em;
  text-align: center;
  margin: 0 20px 0 0;
  color: #74c365;
  font-family: inherit;
  text-rendering: optimizelegibility;
  line-height: 60px;
  font-size: 58.5px;
}

.qa-text {
  font-size: 22px;
  line-height:30px;
  color: #777777;
}

.try-button button {
  line-height: 36px;
  font-size: 32px;
  margin-bottom: 15px;
}

.try-text {
  line-height: 45px;
  font-size: 43.5px;
}

.features {
  margin-top: 80px;
}

.feature {
  color: #777777;
  font-weight: normal;
}

.feature-text {
  font-size: 19px;
}

footer {
  margin-top: 60px;
}

.no-decor {
  text-decoration: none !important;
}

.show-hide-pwd {
  margin-left: -60px;
}

#browser-not-supported {
  text-align: center;
}

video {
  width: 95%;
  height: auto;
}

.pip {
  width: 20%;
  position: absolute;
  text-align: left;
  max-width: 200px;
}

.pip video {
  border-right: solid 2px #fafafa;
  border-bottom: solid 2px #fafafa;
}

#others {
  width: 100%;
  text-align: center;
  overflow: auto;
  white-space: nowrap;

  position: absolute;
  left: 0;
}

#others video {
  width: auto;
  margin: 5px;
  padding: 3px;
  height: 150px;
}